<section>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
       
          <a class="navbar-brand" href="#"><img class="img1" src="assets/images/Logo.png"></a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
       
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
            <ul class="navbar-nav ml-auto" >
              <li class="nav-item">
                <a class="nav-link btn3" role="button" href="#">Log in</a>
              </li>
              <li class="nav-item pl-2 pr-2">
                <a class="nav-link btn2"  role="button" href="#">Sign Up </a>
              </li>
            </ul>
       
           
          </div>
        </div>
      </nav>
      <section class="head1">
          <div class="header1">
            <div class="container ">
            <div class="row ">
              <div class=" col-md-7 col-sm-3 ">
                <h5 class="text-left  text-tl2 ">Connect with more customers,more often</h5>
                <div >
                  <p class="text-left text-tl1">Add your store today</p>
                </div>      
              </div>
              <div class="col-md-5 col-sm-12">
                <!-- <div class="container"> -->
                  <!-- <div class="form-details"> -->
                    <div class="row">
                      <h4 class="text-left  text-tl3">Get Started</h4>
                    </div>
                    <form class="form-group"> 
                      <div class="row">
                        <label class="label">Restaurant name<b class="m-star">*</b></label>
                        <!-- <div class="col-md-4"> -->
                          <input type="text" class="form-control">
                        <!-- </div> -->
                        
                       </div>
                       <div class="row">
                        <label class="label">Store address<b class="m-star">*</b></label>
                        <input type="text" class="form-control">
                       </div>
                       <div class="row">
                         <div class="col-md-6 col-sm-6 col-xs-6 pl-0">
                          <label class="label" for="inputFirstname">First name<b class="m-star">*</b></label>
                         <input type="text" class="form-control form-control-fc1" id="inputFirstname">
                         </div>
                         <div class="col-md-6  col-sm-6 col-xs-6  pl-0">
                          <label class="label lable-lastName" for="inputLastname">Last name<b class="m-star">*</b></label>
                         <input type="text" class="form-control form-control-fc2" id="inputLastname">
                        </div>
                       </div>
                       <div class="row">
                        <label class="label">Email<b class="m-star">*</b></label>                     
                        <input type="text" class="form-control  form-control-sm frminput" placeholder="Enter the email you’ll use to log in">
                       </div>
                       <!-- <div class="row inputWithIcon">
                        <label class="label" for="inputMobile">Mobile<b class="m-star">*</b></label>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <input type="text" class="form-control " placeholder="e.g. 0412 345 678"  id="inputMobile">
                      
                       </div>     -->
                       <div class="row">
                        <label class="label" for="inputMobile">Mobile<b class="m-star">*</b></label>
                        <div class="input-group ">
                           <!-- <span class="input-group-text fc3"><i class="fa fa-plus" aria-hidden="true">+61 AU</i></span>   -->
                           <!-- <div class="input-group-prepend">
                            <div class="input-group-text fc3">+61 AU</div> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <input type="text" class="form-control form-control-fc4 " placeholder="e.g. 0412 345 678"  id="inputMobile">
                        </div>
                       </div>

                       <div class="row ">
                        <p class="frmtxt ">By clicking ‘Sign up’, you agree to menuzapp <a href="#">General Terms and Conditions</a> and acknowledge you have read the <a href="#">Privacy Policy</a>.</p>
                       </div>
                       <div class="row ">
                        <!-- <button type="button" class="btn btn-lg">Sign Up</button> -->
                        <input type="submit" value="Sign Up" class="btn std-button std-button--primary  btn1">
                       </div>
                    </form>
                   
                  <!-- </div> -->

                  </div>
                  

                <!-- </div>container -->
            </div>

          </div>
        
        </div>
        
        
      </section>

<section class="register-bus">
    <div class="container">
      <div class="text-left">
        <p class="text1">Why join us?</p> 
      </div>
        <div class="register">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="reg-business"> 
                <div class="reg-details">
                  <h5 class="title1">Put your menu online</h5>  
                  <p class="reg-info" >Add your menu items and add photos of each dish so that your customers can browse and order without needing to wait to be served.</p>
          
                </div>
              </div>
             </div>
             <div class="col-lg-4  col-md-4">
              <div class="reg-business">     
                <div class="reg-details">
                  <h5 class="title1">Reach more customers</h5>
                  
                  <p class="reg-info">Your entire menu becomes searchable citywide. Anyone looking for an item you offer will be attracted to your restaurant.</p>
          
                </div>
              </div>
             </div>
             <div class="col-lg-4  col-md-4">
              <div class="reg-business">
                
                <div class="reg-details">
                  <h5 class="title1">Return visits</h5>
                    <p  class="reg-info">Customers receive in-app notifications every time you change your menu. Any time you post a special or add a new dish, your followers will be notified and encouraged to come and eat!</p>
          
                </div>
              </div>
             </div>
            
        </div><!--row-->
      </div> <!--register-->
    <div class="register-step2">     
    <div class="row">
      <div class="col-7">
        <div class="col-lg-1">
          <img class="img3" src="assets/images/16x9.png">
        </div>
      </div>
        <div class="col-lg-2">
          <div class="step2-info pl-5">
            <h5 class="text2">“</h5>
            <p class="title2">We tripled our turnover in just 2 weeks with menuzapp. Jonah is a freakin’ legend. Steve is okay too...<br><br><span class="s1">Matt Moran ~ Arias, Riverbar</span></p>
          </div>

        </div>
     

    </div><!--row-->
    </div><!--register-step2-->     
    <div class="text-left">
      <p class="text1 mb-4">How does it work?</p>
    </div>  
    <div class="register-step3">
      <div class="row">
        <div class="col-lg-4  col-md-4">
         <div class="step3-info" style="width: 18rem;">
           <img src="assets/svg/illus1.svg" class="card-img-top mb-4 " alt="...">
           <div class="step3-details ">
             <h5 class="text3">Customers order</h5>
             <p class="title3">A customer scans the QR code on your table, storefront signage or by searching online within the menuzapp app. </p>
           </div>
         </div>
        </div>
        <div class="col-lg-4  col-md-4">
         <div class="step3-info" style="width: 18rem;">
           <img src="assets/images/illus2.png" class="card-img-top mb-4" alt="...">
           <div class="step3-details ">
             <h5 class="text3">You prepare</h5>
             <p class="title3"> You hit the accept button and prepare the order.</p>
           </div>
         </div>
        </div>
        <div class="col-lg-4  col-md-4">
         <div class="step3-info" style="width: 18rem;">
           <img  class="img4" src="assets/images/illus3.png" class="card-img-top mb-4" alt="...">
           <div class="step3-details ">
             <h5 class="text3">Countdown timer</h5>
             <p class="title3">Both you and the customer are synched with a countdown timer that you set andthe customer knows when meal is ready! </p>
           </div>
         </div>
        </div>
       
       </div>
    </div>
    <div class="text-left">
      <p  class="text1 mb-4">Get started in just 3 steps</p>
    </div> 
    <div class="register-step4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4  col-md-4 col-sm-12">
            <div class="step4-info">
              <div class="container">
                <div class="row">
                  <img class="img5 "  src="assets/svg/1.svg" alt=""><hr>
                 </div>
              </div>
                <div class="row ">
                  <img src="assets/svg/illus4.svg" class="card-img-top card1" alt="...">
                 </div>
              <div class="container">
                <div class="row text-center">
                    <h5 class="text4 ">Tell us about your restaurant</h5>
                 </div>
              </div>         
            </div>
           </div>  
           <div class="col-lg-4  col-md-4 col-sm-12">
            <div class="step4-info">
              <div class="container">
                <div class="row">
                  <img class="img5"  src="assets/svg/1 (2).svg" alt=""><hr>
                 </div>
              </div>
                <div class="row ">
                  <img src="assets/svg/illus5.svg" class=" img-fluid card-img-top  card1" alt="...">
                 </div>
              <div class="container">
                <div class="row text-center">
                    <h5 class="text4 ">Upload your menu</h5>
                 </div>
              </div>         
            </div>
           </div>   
           <div class="col-lg-4  col-md-4 col-sm-12">
            <div class="step4-info">
              <div class="container">
                <div class="row">
                  <img class="img5"  src="assets/svg/1 (3).svg" alt="">
                 </div>
              </div>
                <div class="row ">
                  <img  class="img4" src="assets/svg/illus6.svg" class="card-img-top card1" alt="...">
                 </div>
              <div class="container">
                <div class="row text-center">
                  <h5 class="text4">Choose how you would like to receive payments</h5>
                 </div>
              </div>         
            </div>
           </div>    
         </div><!--row-->
         <div class="container">
          <div class="col-md-10 text-center mb-5 ">
            <button type="button" class="btn  std-button std-button--primary">Get Started</button>
          </div>
         </div>
      
      </div>
      
    </div><!--register-step4-->

    </div><!--container-->  
 
</section>
 <footer class="full-footer">
   <div class="container  pt-5">
     <div class="top-footer">
      <div class="row">
        <div class="col-7 pl-0">
          <div class=" col-lg-4 col-md-4 footer-container1 ">
           <img class="img-fluid topfooter-img6" src="assets/svg/logo_240_stacked.svg">
           <p class="footer1">Menuzapp is Australia's first dedicated food search and ordering service.</p>
           <p class="footer-para"><a href="#"><img class="img-fluid topfooter-img8"  src="assets/svg/ico_social_facebook-solid.svg"></a>
           <a href="#"><img class="img-fluid  topfooter-img9"  src="assets/svg/ico_social_twitter.svg"></a>
           <a href="#"><img class="img-fluid  topfooter-img10"  src="assets/svg/ico_social_instagram.svg"></a>
           <a href="#"><img class="img-fluid  topfooter-img11"  src="assets/svg/ico_social_youtube.svg"></a></p>
          <p class="footer-para1"> <img class="img-fluid topfooter-img7 "  src="assets/images/App store badge - Apple.png">
           <img class="img-fluid footer-img12"  src="assets/images/App store badge - Google.png"></p>
  
          </div>
        </div> 
         <div class="col-lg-3 col-md-auto col-sm-12">
           <h5>For restaurants</h5>
           <a href="#">About</a><br>
           <a href="#">Pricing</a><br>
           <a href="#">Support</a><br>
           <a href="#">Become a Partner</a>
        </div>
        <div class=" col-lg-2 col-md-auto  col-sm-12 ">
          <h5>For dinners</h5>
          <a href="#">Order Food</a><br>
          <a href="#">Sign Up</a><br>
     
       </div>  
  
       </div><!--row-->
       
     </div>
    
   </div>
   

 </footer>
 <div class="bottom-footer">
  <!-- <div class="mini-footer"> -->
    <div class="container pt-1">
      <div class="row ">
        <div class="col-10 pl-0">
          <div class="col-lg-1 col-sm-12">
            <p class="foottxt1">© 2021 Menuzapp Ptd Ltd</p>
          </div>
        </div>
        <!-- <div class="col-1 pl-4 pr-0"> -->
          <div class="col-lg-1 col-md-6 col-sm-6 col-xs-6  pl-0 pr-0 ">
            <p class="foottxt2">Privacy policy</p>         
          </div>
        <!-- </div> -->
         
           <div class="col-lg-1 col-md-6 col-sm-6 col-xs-6 pr-5">
            <p class="foottxt2 ">Terms of service</p> 
          </div>
        
     
      
      
      </div>
    </div>
   <!-- </div> -->
  
  </div>
 