.navbar{
    background-color:#353FA8 ;
    height:56px;
}

// .info{
    
//     .form-control1{
//         width:432px;
//         height:40px;
//         margin:0 0 40px 360px;
//     }
//     .text1{
//         margin:0 0 4px 120px;

//     }
//     .btn1{
//          margin:0px 16px 0px 0px;
//          width:71px;
//          height:40px;
//          font-weight: bold;
//          font-size: 16px;
//          line-height: 20px;
//     }
//     .btn2{
       
//         width:104px;
//         height:40px;
//         font-weight: bold;
//         font-size: 16px;
//         line-height: 20px;
//     }
    
// }
.info{
    .title1{
        margin:96px 0 40px 0;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        width:432px;
        height:40px;
    }
    // .password-img1{
    //     margin:-140px 0 0 400px;

    // }
    .form-control1{
                // width:432px;
                // height:40px;
                margin:0 0 40px 0px;
            }
    .btn1{
        margin:0px 16px 0px 0px;
         width:71px;
         height:40px;
         font-weight: bold;
         font-size: 16px;
         line-height: 20px;
    }
    .btn2{
       
        width:104px;
        height:40px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .text1{
                margin:0 0 4px 0px;
        
            }
    //  .form-control1 i { 
    //             position: absolute; 
    //         }
    //         .form-control1 { 
    //             width: 100%; 
    //             margin-top: 10px; 
    //         } 
    //         .icon { 
    //             padding: 10px; 
    //             min-width: 40px; 
    //         } 
    // .inputWithIcon input[type=text]{
    //     //padding-right: 10px;
    // }
    // .inputWithIcon i{
    //     position: relative;
    // }
    // .inputWithIcon i{
    //     position: absolute;
    //     right:30px;
    //     top:40px;   
    //     //margin:440px 0 0 0px;
    //     //padding:9px 47px;
    //     color:#353FA8;
    // }
    // .iconi{
    //    // color:#FFFFFF;

    // }
    /*img*/
    .inputWithIcon .password-img1{
        position: relative;
    }
    .inputWithIcon .password-img1{
        position: absolute;
        right:34px;
        top:35px;   
        //margin:440px 0 0 0px;
        //padding:9px 47px;
        //color:#353FA8;
    }
   
    
}