<section>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="img1" src="assets/images/Logo.png"></a>       
        </div>
      </nav>
</section>
<!-- <section class="info">
    <div class="container">
        <div class="text-center">
            <h5 class="title1">Create a password</h5> 
          </div>
          <div class="text-center">
            <p class="text1">jane.barramundi@thelambshop.com.au</p>
          </div>
          <div class="text-center">
            <input class="form-control form-control1" type="text" placeholder="Enter a password" >
          </div>
          <div class="text-center">
            <button type="button" class="btn  std-button std-button--grey btn1">Back</button>
            <button type="button" class="btn  std-button std-button--primary btn2">Continue</button>
          </div>
          

    </div>
</section> -->
<section class="info">
  <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center ">
    <div class="col title1 ">
      Create a password
    </div>
  </div>
  <div class="password-details">
    <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
        <div class="col">
         <!-- <label  class="label">jane.barramundi@thelambshop.com.au</label<i class="fa fa-eye icon"></i> v-->
         <p class="text1">jane.barramundi@thelambshop.com.au</p>
         <div class="inputWithIcon">
          <input class ="form-control form-control1" type="text" placeholder="Enter a password"><img  class="img-fluid password-img1 " src="assets/svg/ico_eye.svg"> 
         </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
    <div class="col">
        <button type="button" class="std-button std-button--grey btn1 ">Back</button>
        <button type="button" class="std-button std-button--primary btn2 ">Continue</button>

       </div>
    </div>
  </div><!--password-details-->

</section>