<section>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="img1" src="assets/images/Logo.png"></a>       
        </div>
      </nav>
</section>
<!-- <section>
    <div class="plan-info">
        <div class="container">
            <div class="text-center">
                <h5 class="plan-title">Choose a plan</h5> 
              </div>
              <div class="plan-details">
                <div class="row">
                    <div class="col-md-6">
                        <div class="plan-info1">
                            <div class="plan-header">
                              <div class="progress-bar2">
                                <div class="progress-bar" role="progressbar" ></div>
                              </div>
                               <h5 class="plan-header1">Standard</h5><br>
                                <p class="plan-para">Your menu on Menuzapp</p>
                            </div>
                            <div class="plan-body">
                              <h5 class="plan-title1">Free forever</h5>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Your menu online</p>
                              </div>
                              <div class="row">
                                <p class="plan-text"> <img src="assets/svg/ico_check_small.svg">Appear in search</p>
                              </div>
                              <a href="#" class="btn  std-button std-button--grey btn1">Choose standard</a>
                            </div>
                          </div>
    
                    </div>
                    <div class="col-md-6">
                        <div class="plan-info1">
                            <div class="plan-header">
                              <div class="progress-bar1">
                                <div class="progress-bar" role="progressbar" ></div>
                              </div>
                              <h5 class="plan-header1"> Professional</h5><br>
                                <p  class="plan-para"> Accept dine in & pick up orders</p>
                            </div>
                            <div class="plan-body">
                              <h5 class="plan-title1">3.3% per order</h5>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Accept online orders</p>
                              </div>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Unlimited orders </p>
                              </div>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">No set up fees</p>
                              </div>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Your menu online</p>
                              </div>
                              <div class="row">
                                <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Appear in search</p>
                              </div>
                              <a href="#" class="btn  std-button std-button--green btn2">Choose professional</a>
                            </div>
                          </div>
                        
                    </div>
    
                </div>

              </div>

        </div>
    </div>
</section> -->
<section>
  <div class="plan-info">
  <div class="col-lg-5 col-md-4 col-sm-4 container justify-content-center ">
    <div class="col plan-title">
      Choose a plan
    </div>
  </div>
    <div class="col-lg-8 col-md-4 col-sm-4 container justify-content-center ">
      <div class="col ">
        <div class="row">
          <div class="col-md-6">
            <div class="plan-info1">
              <div class="plan-header3">
                <!-- <div class="progress-bar2">
                  <div class="progress-bar" role="progressbar" ></div>
                </div> -->
                 <h5 class="plan-header1">Standard</h5><br>
                  <p class="plan-para">Your menu on Menuzapp</p>
              </div>
              <div class="plan-body">
                <h5 class="plan-title1">Free forever</h5>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Your menu online</p>
                </div>
                <div class="row">
                  <p class="plan-text"> <img src="assets/svg/ico_check_small.svg">Appear in search</p>
                </div>
                <a href="#" class="btn  std-button std-button--grey btn1">Choose standard</a>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="plan-info2">
              <div class="plan-header2">
                <!-- <div class="progress-bar1">
                  <div class="progress-bar" role="progressbar" ></div>
                </div> -->
                <h5 class="plan-header1"> Professional</h5><br>
                  <p  class="plan-para"> Accept dine in & pick up orders</p>
              </div>
              <div class="plan-body">
                <h5 class="plan-title1">3.3% per order</h5>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Accept online orders</p>
                </div>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Unlimited orders </p>
                </div>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">No set up fees</p>
                </div>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Your menu online</p>
                </div>
                <div class="row">
                  <p class="plan-text"><img src="assets/svg/ico_check_small.svg">Appear in search</p>
                </div>
                <a href="#" class="btn  std-button std-button--green btn2">Choose professional</a>
              </div>
            </div>
            
          </div>
        </div><!--row-->
        
      </div><!--col-->
    </div>

  </div><!--plan-info-->



</section>
