.navbar{
    background-color:#353FA8 ;
    height:56px;
}

// .plan-info{
//     .plan-details{
//         width:660px;
//         margin:0 0 0 180px;
       

//     }
//     .plan-body{
//         width:318px;
//         height:444px

//     }
//     .plan-title{
//         margin:96px 0 40px 0;
//         font-weight: bold;
//         font-size: 32px;
//         line-height: 40px;
//     }
//     .plan-info1{
//         width:318px;
//         height:444px;
//         border-top:9px solid #FAFAFA;
//         border:1px solid #FAFAFA;
//         margin:0 24px 0 0;
       

//     }
    
//     .plan-header{
//        background-color: #FAFAFA;
//        width:318px;
//        height:92px;
        
//     }
//     .plan-header1{
//         margin:0 0 0px 32px;
//         padding-top: 24px;
//         font-weight: bold;
//         font-size: 20px;
//         line-height: 24px;

//     }
//     .plan-para{
//         margin:-20px 0 16px 32px;
//         padding-top: 4px;
//         font-weight: normal;
//         font-size: 16px;
//         line-height: 24px;

//     }
//     .plan-text{
//         margin:0 0 15px 38px;
//         font-weight: normal;
//         font-size: 16px;
//         line-height: 24px;
//     }
//     .plan-title1{
//         margin:32px 0 24px 28px;
//         font-weight: bold;
//         font-size: 24px;
//         line-height: 28px;
//     }
//     .btn1{
//         margin:120px 0 32px 32px;
//         font-weight:bold;
//         font-size: 16px;
//         line-height: 20px;
//         width:254px;
//         height:50px;
//     }
//     .btn2{
//         margin:4px 0 32px 32px;
//         font-weight:bold;
//         font-size: 16px;
//         line-height: 20px;
//         width:254px;
//         height:50px;
//     }
//     .progress-bar1{
//         background-color:#36A900;
//         height:10px;
//         width:100%;
//     }
//     .progress-bar2{
//         background-color:#FAFAFA;
//         height:10px;
//         width:100%;
//     }
// }


        .plan-info{
            width:100%;
                .plan-details{
                    width:660px;
                    margin:0 0 0 180px;
                   
            
                }
                .plan-body{
                    width:318px;
                    height:444px
            
                    
                }
                .plan-title{
                    margin:96px 0 40px 0;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 40px;
                }
                .plan-info1{
                    width:318px;
                    height:444px;
                    border-top:4px solid #FAFAFA;
                    border:1px solid #FAFAFA;
                    margin:0 24px 0 0;
                   
            
                }
                 .plan-info2{
                    width:318px;
                    height:444px;
                    border-top:4px solid #36A900;
                    border:1px solid #FAFAFA;
                    margin:0 24px 0 0;
                   
            
                }
                
                .plan-header2{
                   background-color: #FAFAFA;
                   border-top:4px solid #36A900;
                  // width:318px;
                   //height:92px;
                    
                }
                .plan-header3{
                    background-color: #FAFAFA;
                    border-top:4px solid  #FAFAFA;
                   // width:318px;
                    //height:92px;
                     
                 }
                .plan-header1{
                    margin:0 0 0px 32px;
                    padding-top: 24px;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
            
                }
                .plan-para{
                    margin:-20px 0 18px 32px;
                    padding-top: 4px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
            
                 }
                .plan-text{
                    margin:0 0 15px 38px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                }
                .plan-title1{
                    margin:32px 0 24px 28px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                }
                .btn1{
                    margin:120px 0 32px 32px;
                    font-weight:bold;
                    font-size: 16px;
                    line-height: 20px;
                    width:254px;
                    height:50px;
                }
                .btn2{
                    margin:4px 0 32px 32px;
                    font-weight:bold;
                    font-size: 16px;
                    line-height: 20px;
                    width:254px;
                    height:50px;
                }
                .progress-bar1{
                    background-color:#36A900;
                    height:10px;
                    width:100%;
                }
                .progress-bar2{
                    background-color:#FAFAFA;
                    height:10px;
                    width:100%;
                }
             }