<nav class="sidebar-shadow">
    <div class="sidebar-heading sm-block" style="outline: none;cursor: pointer;height:56px;" title="Dashboard">
        <img style="widows: 169px;height:32px;" src="assets/svg/Logo.svg"> 
    </div>
    <ul appSideNavClick class="sidenav__list">
        <li class="sidenav__link sidenav--hover"
        style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);">
       <span class="std-heading-5">
          The Lamb Shop Spring Hill </span>
    </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_menublue.png"><span class="color-primary"> All orders
                </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover"  style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_docket.png"><span class="color-primary">   New orders
                   </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_cook.png"><span class="color-primary">
                        Cooking</span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_take_away.png"><span class="color-primary">
                     Ready</span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_history.png"><span class="color-primary">
                        History</span></a>
        </li>
    </ul>
    <div class="bottom-logout">
        <ul class="sidenav__list--bottom" style="margin-bottom: 0;">
            <li appSideNavClick class="sidenav__item ">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img" src="assets/images/ico_members.png">
                    <span class="color-primary">
                        Manage access</span> </a>
            </li>
            <li appSideNavClick class="sidenav__item ">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img" src="assets/images/ico_lock.png">
                    <span class="color-primary">
                        Change store</span> </a>
            </li>
            <li class="sidenav__item">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img"
                        src="assets/images/logout.png"><span class="color-primary">
                        Log out</span> </a>
            </li>
        </ul>
    </div> 
</nav>
<!-- <div class="tit1">
    <p>All Orders</p>
</div> -->
<nav class="navbar nav-expand-lg " style="margin-left:390px;margin-top:35px;">
 
    <p class="tit1">All Orders</p>


    <div class="navbar-nav ml-auto" style="margin-right:160px;">
  
    <p class="tit2" ><img  src="assets/images/ico_cook_hide.png" >Hide cooking</p>
   
    </div>

</nav>
<div class="row">
     <div class="col-lg-5 col-md-6 "> 
        <div class="card" style="height:708px;">
            <div class="card-body">
                <p class="p2"  style="width:90px;margin-left:80px;">Ready!
                    <img class="img1" style="margin-bottom:5px;margin-left:-90px;width:320px;"src="assets/images/Rectangle 286.png"></p> 
                <div style="margin-left:10px;"><img class="img2" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                    James</span><p style="margin-top:-33px;margin-right:55px;text-align:center;">Table 23</p>
                </div>
                <div>
                   
                    <button type="button"  class="btn btn-danger "style="margin-left:160px;margin-top:5px"> <img class="img3" src="assets/images/ico_take_awaywhite.png">Complete </button>
                    </div>
                    <div class="t1"> 
                        <div class=" col-md-6" >
                            <table class="t1" >
                                <tr>
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td> Special Sauce </td>
                                </tr>
                               
                                <hr >
                                <tr>
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce </td>
                                </tr>
                                <hr>
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th>Greek Salad </th>
                                    <td>Medium Garlic</td>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Coke 375ml </th>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Small Chips </th>
                                    <td>Chicken Salt</td>
                                </tr>
                                <hr>
                                <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr>  
                                 
                            </table>        
                        </div>
                     </div> 
            </div>     
        </div> 
     </div>
    
   
  
    <div class="col-lg-5 col-md-6 "> 
        <div class="card"  >
            <div class="card-body">
                <p class="p2"  style="width:90px;margin-left:90px;">New Order
                    <img class="img1" style="margin-bottom:5px;margin-left:-100px;width:320px;"src="assets/images/Rectangle 286_white.png"></p> 
                <div style="margin-left:10px;"><img class="img2" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                  James</span><p style="margin-top:-33px;margin-right:13px;text-align:center;">Pick up(ASAP)</p>
                </div>
                <div>
                    <img class="img3"style="margin-left:130px;position:absolute;width:20px;height:30px;" src="assets/images/ico_overflowblack.png" >
                    <button type="button"  class="btn btn-success"style="margin-left:170px;"> <img class="img3" src="assets/images/ico_checkwhite.png">Accept </button>
                    </div>
                    <div class="row m-class"class="t1"> 
                        <div class="col-md-11" >
                            <table class="t1" >
                               <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th rowspan="2">Lamb Souvlaki </th>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>   
                                </tr>
                                <hr>
                                <tr>
                                    <th>Greek Salad </th>
                                    <td>Medium Garlic</td>
                                </tr>
                                <hr>
                                  <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr> 
                                 
                            </table>        
                        </div>
                     </div> 
                
                
            </div>     
         </div>
    </div>
    
    
    <div class="col-lg-5 "> 
        <div class="card">
            <div class="card-body">
                <p class="p2"  style="width:90px;margin-left:90px;">New Order
                    <img class="img1" style="margin-bottom:5px;margin-left:-100px;width:320px;"src="assets/images/Rectangle 286_white.png"></p> 
                <div style="margin-left:10px;"><img class="img2" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                 James</span><p style="margin-top:-33px;margin-right:55px;text-align:center;">Table 23</p>
                </div>
                <div>
                    <img class="img3"style="margin-left:130px;position:absolute;width:20px;height:30px;" src="assets/images/ico_overflowblack.png" >
                    <button type="button"  class="btn btn-success"style="margin-left:170px;"> <img class="img3" src="assets/images/ico_checkwhite.png">Accept </button>
                    </div>
                    <div class="row m-class"class="t1"> 
                        <div class="col-md-11" >
                            <table class="t1" >
                               <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr>
                                <tr>
                                    <th rowspan="2">Lamb Souvlaki </th>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>   
                                </tr>
                                
                                <hr>
                                  <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr> 
                                 
                            </table>        
                        </div>
                     </div> 
           
            </div>     
         </div>
    </div>
</div>
    
