<nav class="sidebar-shadow">
    <div class="sidebar-heading sm-block" style="outline: none;cursor: pointer;height:56px;" title="Dashboard">
        <img style="widows: 169px;height:32px;" src="assets/svg/Logo.svg"> 
    </div>
    <ul appSideNavClick class="sidenav__list">
        <li class="sidenav__link sidenav--hover"
        style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);">
       <span class="std-heading-5">
          The Lamb Shop Spring Hill </span>
    </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_menublue.png"><span class="color-primary"> All orders
                </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover"  style="text-decoration: none;"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_docket.png"><span class="color-primary">   New orders
                   </span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_cook.png"><span class="color-primary">
                        Cooking</span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_take_away.png"><span class="color-primary">
                     Ready</span></a>
        </li>
        <li appSideNavClick class="sidenav__item">
            <a class="sidenav__link sidenav--hover" style="text-decoration: none;" 
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="assets/images/ico_history.png"><span class="color-primary">
                        History</span></a>
        </li>
    </ul>
    <div class="bottom-logout">
        <ul class="sidenav__list--bottom" style="margin-bottom: 0;">
            <li appSideNavClick class="sidenav__item ">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img" src="assets/images/ico_members.png">
                    <span class="color-primary">
                        Manage access</span> </a>
            </li>
            <li appSideNavClick class="sidenav__item ">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img" src="assets/images/ico_lock.png">
                    <span class="color-primary">
                        Change store</span> </a>
            </li>
            <li class="sidenav__item">
                <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img"
                        src="assets/images/logout.png"><span class="color-primary">
                        Log out</span> </a>
            </li>
        </ul>
    </div> 
</nav>
<!-- <div class="tit1">
    <p>All Orders</p>
    
</div> -->
<!-- <div>
<p style="margin-left:500px;text-align:right;"><img src="assets/images/ico_cook_hide.png">Show cooking</p>
</div> -->
<nav class="navbar nav-expand-lg " style="margin-left:390px;margin-top:35px;">
 
    <p class="tit1">All Orders</p>


    <div class="navbar-nav ml-auto" style="margin-right:160px;">
  
    <p class="tit2" ><img  src="assets/images/ico_cook.png" style="margin-right:10px;height:20px;" >Hide cooking</p>
   
    </div>

</nav>


<div class="row">
     <div class="col-lg-5 col-md-6 "> 
        <div class="card " style="height:708px;">
            <div class="card-body">
                <p class="p2"  style="width:90px;margin-left:90px;">Ready!</p>
                <div class="progress"style="height: 8px;width:316px;margin-top:-10px;margin-left:-6px;">
                    <div class="progress-bar "  style="width:100%;background-color:red;" ></div>
                </div>
                <!-- <img class="img1" style="margin-bottom:5px;margin-left:-90px;width:320px;"src="assets/images/Rectangle 286.png"></p>  -->
                <div class="pl1" style="margin-left:1px;margin-top:5px;"><img class="img2" src="assets/images/ico_avatar_80.png" ><span class="color-primary">
                    James</span><p style="margin-top:-33px;margin-right:55px;text-align:center;">Table 23</p>
                </div>
                 <div >
                    <button type="button"  class="btn std-button std-button--red"style="margin-left:150px;"> <img class="img3" src="assets/images/ico_take_awaywhite.png">Complete </button>
                    
                 </div>
                    <div class="t1"> 
                        <div class="col-lg-6 col-md-6" >
                              <table class="t1" >
                                <tr >
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td> Special Sauce </td>
                                </tr>
                               
                                <hr >
                                <tr>
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce </td>
                                </tr>
                                <hr>
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th>Greek Salad </th>
                                    <td>Medium Garlic</td>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Coke 375ml </th>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Small Chips </th>
                                    <td>Chicken Salt</td>
                                </tr>
                                <hr>
                                <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr>  
                                 
                            </table>        
                        </div>
                     </div> 
            </div>     
        </div> 
     </div>
    
    
     <div class="col-lg-5 col-md-6 "> 
        <div class="card "style="height:708px;">
            <div class="card-body" >
                <p class="p2"style=";margin-left:90px;width:150px;" >Cooking 2 min</p>
                <!-- <img class="img1"src="assets/images/Timer.png" style="height:30px;margin-bottom:5px;"> </p>-->
                <div class="progress"style="height: 8px;width:316px;margin-top:-10px;margin-left:-6px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                </div>
                 
         
                <div class="pl1" style="margin-left:10px;"><img class="img2" style="margin-top:5px;" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                    James</span><p  style="margin-top:-33px;margin-right:-72px;text-align:center;">Pick up(Today 11:30AM)</p>
                </div>
                <div >
                    <div >
                      <button type="button"  class="btn std-button std-button--yellow"  (click)="showinviteTemplate(edit)"  style="margin-left:140px;" > <img class="img3" src="assets/images/ico_clockblack.png">Edit time </button>
                    </div>
                </div>
                    <div class="row m-class"class="t1"> 
                        <div class="col-md-6" >
                            <table class="t1" >
                                <tr>
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td> Special Sauce </td>
                                </tr>
                               
                                <hr >
                                <tr>
                                    <th rowspan="2">Chicken yiros </th>
                                    <td>Large </td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce </td>
                                </tr>
                                <hr>
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Medium Sauce</td>
                                </tr>
                                <tr>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th>Greek Salad </th>
                                    <td>Medium Garlic</td>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Coke 375ml </th>
                                </tr>
                                <hr>
                                <tr>
                                    <th>Small Chips </th>
                                    <td>Chicken Salt</td>
                                </tr>
                                <hr>
                                <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr>  
                                 
                                 
                            </table>        
                        </div>
                     </div> 
           
            </div>     
         </div>
     </div>
  
    <div class="col-lg-5 col-md-6 "> 
        <div class="card "  >
            <div class="card-body">
                <!-- <p class="p2"style="width:90px">New Order</p>
                <p><img class="img1"src="assets/images/Rectangle 286_white.png"></p> -->
                <p class="p2"  style="width:90px;margin-left:90px;">New Order
                    <!-- <img class="img1" style="margin-bottom:5px;margin-left:-100px;width:320px;"src="assets/images/Rectangle 286_white.png"></p>  -->
                    <div class="progress"style="height: 8px;width:316px;margin-top:-10px;margin-left:-6px;">
                        <div class="progress-bar " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                    </div>
                <div class="pl1" style="margin-left:10px;"><img class="img2" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                  James</span><p style="margin-top:-33px;margin-right:-5px;text-align:center;">Pick up(ASAP)</p>
                </div>
                <div>
                    <img class="img3"style="margin-left:130px;position:absolute;width:20px;height:30px;" src="assets/images/ico_overflowblack.png" >
                    <button type="button"  class="btn std-button std-button--green"style="margin-left:170px;"> <img class="img3" src="assets/images/ico_checkwhite.png">Accept </button>
                    </div>
                    <div class="row m-class"class="t1"> 
                        <div class="col-md-11" >
                            <table class="t1" >
                               <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr >
                                <tr>
                                    <th rowspan="2">Lamb Souvlaki </th>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>   
                                </tr>
                                <hr>
                                <tr>
                                    <th>Greek Salad </th>
                                    <td>Medium Garlic</td>
                                </tr>
                                <hr>
                                  <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr> 
                                 
                            </table>        
                        </div>
                     </div> 
                
                
            </div>     
         </div>
    </div>
    
    
    <div class="col-lg-5 col-md-6 "> 
        <div class="card">
            <div class="card-body">
                <!-- <p class="p2"style="width:90px">New Order</p>
                <p><img class="img1"src="assets/images/Rectangle 286_white.png"></p>  -->
                <p class="p2"  style="width:90px;margin-left:90px;">New Order
                <!-- <img class="img1" style="margin-bottom:5px;margin-left:-100px;width:320px;"src="assets/images/Rectangle 286_white.png"></p>  -->
                <div class="progress"style="height: 8px;width:316px;margin-top:-10px;margin-left:-6px;">
                    <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                </div>
                <div class="pl1"style="margin-left:10px;"><img class="img2" src="assets/images/ico_avatar_80.png" >  <span class="color-primary">
                 James</span><p style="margin-top:-33px;margin-right:45px;text-align:center;">Table 23</p>
                </div>
                <div>
                    <img class="img3"style="margin-left:130px;position:absolute;width:20px;height:30px;" src="assets/images/ico_overflowblack.png" >
                    <button type="button"  class="btn std-button std-button--green"style="margin-left:170px;"> <img class="img3" src="assets/images/ico_checkwhite.png">Accept </button>
                    </div>
                    <div class="row m-class"class="t1"> 
                        <div class="col-md-11" >
                            <table class="t1" >
                               <tr>
                                    <th rowspan="3">Lamb Souvlaki </th>
                                    <td>Chilli Sauce</td>
                                </tr>
                                <tr>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>
                                </tr>
                                <hr>
                                <tr>
                                    <th rowspan="2">Lamb Souvlaki </th>
                                    <td>Special Sauce</td>
                                </tr>
                                <tr>
                                    <td>Trio of dips</td>   
                                </tr>
                                
                                <hr>
                                  <tr>
                                    <td>Order No.2345 </td>
                                    <th>$49.95</th>
                                </tr> 
                                 
                            </table>        
                        </div>
                     </div> 
           
            </div>     
         </div>
    </div>
</div>
<ng-template #edit let-modal>
    <form>
       
        <div class="modal-dialog modal-sm">
           
                <div class="col-md-6"> 
                    <table class="t2">
                        <tr>
                        <th class="pp1"> Edit Time </th>
                        </tr> 
                        <br>
                        <tr>
                            <td>When will it be ready? </td>
                        </tr>  
                    </table>
                    <table   class="color-primary t3">
                        <hr>
                        <tr>
                            <td>Ready Now</td>
                        </tr>
                        <hr>
                        <tr>
                            <td>5 Minutes</td>
                        </tr>
                        <hr>
                        <tr>
                           
                            <td>10 Minutes</td>
                        </tr>
                        <hr>
                        <tr>
                            <td>15 Minutes</td>
                        </tr>
                        <hr>
                        <tr row span="2"> 
                            <td>
                                <!-- <div class="progress"style="height: 8px;width:80px">
                                    <div class="progress-bar " role="progressbar" style="width:100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                </div> -->
                                <div class="slidecontainer">
                                   
                                    <input type="range" min="0" max="100" value="50">
                                    
                                  </div>
                            </td>
                            <br><br>
                            
                        </tr>
                        <tr>
                            <td>30 Minutes</td>
                        </tr>
                        <hr>
                        <tr>
                            <td>Cancel</td>
                        </tr>
                       
                        </table>
                    
                    
                 </div>
            
        </div> 
    <!-- <form  (ngSubmit)="onSubmitinviteMember()"> 
        <div class="modal-header header-info">
            <div class="std-heading-4 std-heading-5--popheader"> Invite </div>
            <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><img src="assets/images/x.png"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="label-inputs"> Email </label>
                    <input type="text" class="form-control form-input" (keyup)="removeErrorMsg('error_msg')" placeholder="Invite someone by email" formControlName="memberEmail" [ngClass]="{ 'is-invalid': memberEmailSubmit && f.memberEmail.errors }">
                    <div *ngIf="memberEmailSubmit && f.memberEmail.errors" class="error-mez">
                        <div *ngIf="f.memberEmail.errors.required"> Please enter email </div>
                    </div>
                    <div *ngIf="errors['error_msg']" class="error-mez">{{errors['error_msg']}}</div>
                </div>
                <div class="col-md-6">
                    <label class="label-inputs" style="margin-top:32px"> Role </label>
                    <select class="custom-select form-control form-input form-input--select-input" (ngModelChange)="changeRole()" formControlName="roleName" [ngClass]="{ 'is-invalid': rolenameSubmitted && f.roleName.errors }" >
                        <option *ngFor="let role of memberRole" [value]="role.store_member_role_id"> {{role.role_name}} </option>
                    </select>
                    <div *ngIf="rolenameSubmitted && f.roleName.errors" class="error-mez">
                        <div *ngIf="f.roleName.errors.required"> Please select role </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right" style="margin-bottom:16px;margin-top:32px;">
                        <button class="btn std-button std-button--transparency" (click)="modal.dismiss('Cross click')" > Cancel </button>
                        <button class="btn std-button std-button--primary" style="margin-left:10px;" > 
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </form>
</ng-template>    
