<nav class="nav-bars">
    <div class="d-flex justify-content-between">
        <img src="assets/svg/Logo.svg">
        <!-- <a class="btns-navbar" [routerLink]="['/signup']" title="signup" >Don't have an account? Register now </a> -->
    </div> 
</nav>
<div class="container h-100">
    <div class="row m-class">
        <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">          
            <div class="row">
                <div class="col-md-12 text-center">
                    <table>
                        <tr>
                            <td valign="top" width="60"> <i class="fa fa-times fa-3x" style="color:#dd0000;font-weight: 100;"></i></td>
                            <td>
                                <h3 class="sign-header"> Link is expired. </h3> 
                                <p> Please  <a [routerLink]="['/']" >login</a> to continue. </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>           
        </div>
    </div>
</div>