<h3 class="u-margin-bottom-small std-heading-3"> Pending approval </h3>
<div class="row">
    <div class="col-md-6">
        <search-query-generator termName="name" typeName="type" [types]="['claim', 'new']" #queryGen>
        </search-query-generator>
    </div>
</div>
<div class="row" loadingPlaceholder [loadStatus]="pendingStores">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-color" style="margin-top:24px;">
                <thead>
                    <tr>
                        <th> Sl. No </th>
                        <th> Store name </th>
                        <th> Applicant </th>
                        <th> Type </th>
                        <th *ngIf="isAdmin"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="pendingStores && pendingStores.length == 0">
                        <td colspan="5" class="text-center">No stores are pending.</td>
                    </tr>
                    <tr class="text-capitalize" *ngFor="let store of pendingStores; let i = index;">
                        <td> {{i + 1}} </td>
                        <td class="table-name" [routerLink]="'../../stores/'+store.id"> {{store.name}} </td>
                        <td>{{store.applicant}}</td>
                        <td> {{store.claimType}} </td>
                        <td style="text-align: right;cursor:pointer;outline: none;" *ngIf="isAdmin">
                            <div class="dropdown">
                                <img src="assets/images/ico_overflow.png" class="dropdown-toggle" data-toggle="dropdown"
                                    title="Options" style="cursor:pointer;padding:2px 6px;">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li class="herf-class" title="Edit"
                                        [routerLink]="'../../stores/'+store.id+'/profile'">
                                        <img src="assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class" (click)="deleteStore(i)">
                                        <img src="assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>