<section>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="img1" src="assets/images/Logo.png"></a>       
        </div>
      </nav>
</section>
<section>
    <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
        <div class="col restaurant-title">
            About your restaurant
        </div>  
    </div>   
    <div class="restaurant-details">
        <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col">
               <label class="label">Restaurant name<b class="m-star">*</b></label>
               <input type="text" class="form-control" placeholder="The Lamb Shop Spring Hill">
            </div> 
        </div> 
         <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
                <div class="col">
                   <label class="label">Store address<b class="m-star">*</b></label>
                   <input type="text" class="form-control" placeholder="Shop 12/234 Main Street, Spring Hill QLD 4006">
                </div> 
         </div>
         <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col">
               <label class="label">Mobile<b class="m-star">*</b></label>
               <input type="text" class="form-control" placeholder="0412 345 678">
            </div> 
         </div>
         <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col restaurant-title1">
                <p>Opening hours<b class="m-star">*</b></p>
            </div>  
            <div class="col restaurant-title2">
                    Add opening hours
            </div> 
        </div> 
        <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col restaurant-title3">
                Images
            </div> 
            <div class="col restaurant-title4">
                JPG, PNG or GIF up to 5mb. Minimum size 500 x 500 pixels.
            </div> 
            <div class="col restaurant-title5">
                  <p> Restaurant logo<b class="m-star">*</b></p> 
            </div> 
            <div class="col ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="circle">
                            <img class="icon"src="assets/svg/ico_add_small.svg">
                            <div class="col circle-text">
                              <p>Upload a logo</p>
                             </div>
                          </div> 
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="std-button std-button--primary btn4 ">Browse</button>
                        <button type="button" class="std-button std-button--grey btn5 ">Remove</button>

                    </div>
                </div>
                <!-- <div class="circle">
                  <img class="icon"src="assets/svg/ico_add_small.svg">
                  <div class="col circle-text">
                    <p>Upload a logo</p>
                   </div>
                </div>   -->
            </div> 
            <!-- <div class="col">
                <button type="button" class="std-button std-button--primary btn4 ">Browse</button>
                <button type="button" class="std-button std-button--grey btn5 ">Remove</button>
            </div> -->
            <div class="col restaurant-title5">
                 <p>Featured food or venue photo <b class="m-star">*</b></p> 

            </div> 
            <div class="col ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="circle1">
                            <img class="icon1"src="assets/svg/ico_add_small.svg">
                            <div class="col circle-text">
                             <p>Upload a photo</p>
                            </div>
                         </div>
                    </div>
                    <div class="col-md-6">
                    <button type="button" class="std-button std-button--primary btn4 ">Browse</button>
                    <button type="button" class="std-button std-button--grey btn5 ">Remove</button>
                    </div>
                </div>
                
                <!-- <div class="col">
                    <button type="button" class="std-button std-button--primary btn4 ">Browse</button>
                    <button type="button" class="std-button std-button--grey btn5 ">Remove</button>
                </div>  -->
              
            </div> 
        </div> 
        <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col restaurant-title3">
                Categories
            </div> 
            <div class="col restaurant-title6">
                <p> Type of cuisine (select up to 5)<b class="m-star">*</b></p> 
            </div> 
             <div class="col">
                 <div class="col-md-4">
                     <!-- <div class="table"> -->
                        <table class="table  text-center">
                            <tbody class="text-left">
                               <tr>
                                  <td ><input type="checkbox" class="checkbox"><span class="table-text">Asian</span></td>
                               </tr>
                               <tr>
                                  <td><input type="checkbox"class="checkbox"><span class="table-text">Burgers</span></td>
                               </tr>
                               <tr>
                                  <td><input type="checkbox"class="checkbox"><span class="table-text">Chicken</span></td>
                               </tr>
                               <tr>
                                  <td><input type="checkbox" class="checkbox"><span class="table-text">Chinese</span></td>
                               </tr>
                               <tr>
                                <td><input type="checkbox" class="checkbox"><span class="table-text">Greek</span></td>
                             </tr>
                             <tr>
                                <td><input type="checkbox" class="checkbox"><span class="table-text">Pizza</span></td>
                             </tr>
                             <tr>
                                <td><input type="checkbox" class="checkbox"><span class="table-text">Thai</span></td>
                             </tr>
                            </tbody>
                         </table>
                     <!-- </div> -->
                 </div>
               
            </div> 
        </div> 
        <div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
            <div class="col">
                <button type="button" class="std-button std-button--grey btn2 ">Back</button>
                <button type="button" class="std-button std-button--primary btn3 ">Continue</button>
            </div> 
        </div>

            
         
    </div><!--restaurant-details-->
</section>

